.btn{
    padding: 8px 40px;
    color: #fff;
    border-radius: 5px;
    width: fit-content;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
}

.bg-red {
    background: #e63946;
}
.bg-green {
    background: #457b9d;
}
